.working-div{
    width: 70%;
    display: block;
    margin: auto;
}
.step-point{
    display: flex;
    justify-self:center;
    align-items: center;
    text-align: left;
}
.step-point p{
    margin: 5px;
}

.step-box{
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.step-heading{
    font-weight: 600;
    color: #ee3425;
    text-align: left;
}
.step-card-header{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.step-card-header p{
    margin:10px;
}
.step-image{
    width: 440px;
    height: 270px;
    padding: auto;
}
.working-btn{
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border: #fbdc00;
    border-radius: 20px;
}
.working-wrapper{
        
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.steps-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-box-margin{
    margin-bottom: 150px;
}


@media (max-width: 820px) {
   .step-box-margin{
    margin: 10px;
   }
   .working-div{
    display: 84%;
   }
   .steps-middle{
    order:-1;
   }
   .step-image{
    margin-top: 5px;
    width: 350px;
    height: 250px;
   }
   .working-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items:center;
   }
   .working-btn{
    margin: 5px;
   }
   .step-box{
    margin: 10px;
   }
   .working-wrapper{
    margin-top: 50px;
   }
  }