.card_category{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px
px
 solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.card_category:hover{
    border-color: #ee3425;
    border-style: solid;
   
}
.card_heading{
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
}
.find-more{
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

@media (max-width: 820px) {
    .card_category{
        width: 105px;
        margin: 3px;
    }
    .find-more{
        font-weight: 700;
        font-size: 12px;
    }
    .card_heading{
        font-size: 14px;
    }
    .know-more-wrapper{
        width: 100%;
    }
    
}